.textInput {
    all: unset;
}

.submitButton {
    all: unset;
    box-sizing: border-box;
    text-align: center;
    background-color: slategray;
    color: white;
    font-weight: bold;
}

.submitButton:hover {
    background-color: gray;
    cursor: pointer
}

.textInput, .submitButton {
    font-size: 24px;
    border: 1px solid slategray;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.piecesForm {
    width: 50%;
    margin: 5px;
}

.results {
    margin: 5px;
}